<a href="https://colab.research.google.com/github/TegarAN-0088/Praktikum-Struktur-Data/blob/main/Praktikum_2_G_211_22_0088.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUPLE SEDERHANA

In [1]:
# Membuat tuple kosong
my_tuple = ()

# Membuat tuple dengan beberapa elemen
my_tuple = (1, 2, 3, 4, 5)

# Membuat tuple dengan elemen campuran (angka dan string)
my_tuple = (1, "dua", 3.0)

# Tuple dapat juga dibuat tanpa tanda kurung
my_tuple = 1, 2, 3

# Membuat tuple dengan satu elemen
single_element_tuple = (42,)  # Harus ada koma setelah elemen tunggal

print(my_tuple)

(1, 2, 3)

CARA MEN-DELETE TUPLE

In [2]:
# Membuat tuple awal
my_tuple = (1, 2, 3, 4, 5)

# Menghapus elemen dengan membuat tuple baru tanpa elemen yang ingin dihapus
new_tuple = my_tuple[:2] + my_tuple[3:]

print(new_tuple)

(1, 2, 4, 5)

UPDATE TUPLE

In [3]:
# Membuat tuple awal
my_tuple = (1, 2, 3, 4, 5)

# Menambahkan elemen baru ke tuple dengan membuat tuple baru
new_tuple = my_tuple + (6,)

# Menggantikan elemen di dalam tuple dengan membuat tuple baru
updated_tuple = my_tuple[:3] + (10, 20, 30) + my_tuple[4:]

print(new_tuple)
print(updated_tuple)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 10, 20, 30, 5)

DICTIONARY SEDERHANA

In [14]:
# Membuat dictionary kosong
my_dict = {}

# Menambahkan elemen ke dalam dictionary
my_dict['nama'] = 'Kamal'
my_dict['usia'] = 20
my_dict['kota'] = 'Semarang'

# Menampilkan dictionary
print(my_dict)

# Mengakses nilai dari dictionary
nama = my_dict['nama']
usia = my_dict['usia']
kota = my_dict['kota']

print(f'Nama: {nama}')
print(f'Usia: {usia}')
print(f'Kota: {kota}')

# Mengubah nilai dalam dictionary
my_dict['usia'] = 31

# Menghapus elemen dari dictionary
del my_dict['kota']

# Mengakses dictionary setelah diubah
print(my_dict)

{'nama': 'Kamal', 'usia': 20, 'kota': 'Semarang'}
Nama: Kamal
Usia: 20
Kota: Semarang
{'nama': 'Kamal', 'usia': 31}

ITERASI DICTIONARY

In [18]:
# Membuat dictionary kosong
my_dict = {}

# Menambahkan elemen ke dalam dictionary
my_dict['nama'] = 'Kamal'
my_dict['usia'] = 20
my_dict['kota'] = 'Semarang'

# Menampilkan dictionary
print(my_dict)

# Mengakses nilai dari dictionary
nama = my_dict['nama']
usia = my_dict['usia']
kota = my_dict['kota']

print(f'Nama: {nama}')
print(f'Usia: {usia}')
print(f'Kota: {kota}')

# Mengubah nilai dalam dictionary
my_dict['usia'] = 22

# Menghapus elemen dari dictionary
del my_dict['kota']

# Mengakses dictionary setelah diubah
print(my_dict)

# Iterasi melalui key dan value dalam dictionary
for key, value in my_dict.items():
    print(f'{key}: {value}')

{'nama': 'Kamal', 'usia': 20, 'kota': 'Semarang'}
Nama: Kamal
Usia: 20
Kota: Semarang
{'nama': 'Kamal', 'usia': 22}
nama: Kamal
usia: 22